---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="hero-header">
        <div id="text">
            <div class="line">
                <p class="word">Madani</p>
                <p class="word">studio</p>
            </div>

            <div class="line">
                <p class="word">diseño</p>
                <p class="word">web</p>
            </div>

            <div class="line">
                <p class="word">ia</p>
                <p class="word">software</p>
            </div>

            <div class="line">
                <a
                    id="hero-link-01"
                    href="mailto:madani.devel@gmail.com"
                    target="_blank"
                    rel="noopener"
                    class="word fancy"
                >
                    &#x2192;Email
                </a>

                <a
                    id="hero-link-02"
                    href="https://www.instagram.com/studiomadani/"
                    target="_blank"
                    rel="noopener"
                    class="word fancy"
                >
                    &#x2192;Insta
                </a>
            </div>
        </div>
    </div>
</Layout>
