---
// madani/src/components/Navbar.astro
---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Proyectos</a></li>
        <!-- <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> -->
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
        background-color: transparent;
        color: #fff;
    }

    .logo a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 2rem;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #ccc;
    }
</style>
