---
import Layout from "../../layouts/Layout.astro";
import ProjectsLenisGsap from "../../islands/projects/ProjectsLenisGsap.jsx";

type Project = {
    name: string;
    category: string;
    img: string;
};

const projects: readonly Project[] = [
    {
        name: "Revive",
        category: "Brand Identity",
        img: "/assets/projects/project1.jpg",
    },
    {
        name: "Echoes of Light",
        category: "Digital Illustration",
        img: "/assets/projects/project2.jpg",
    },
    {
        name: "Urban Symphony",
        category: "Environmental Design",
        img: "/assets/projects/project3.jpg",
    },
    {
        name: "Fragmented Reality",
        category: "3D Animation",
        img: "/assets/projects/project4.jpg",
    },
    {
        name: "Luminous Flux",
        category: "Motion Graphics",
        img: "/assets/projects/project5.jpg",
    },
    {
        name: "Reflections",
        category: "Interactive Media",
        img: "/assets/projects/project6.jpg",
    },
];
---

<Layout>
    <ProjectsLenisGsap client:load />
    <div class="smooth-wrapper">
        <div class="smooth-content">
            <section class="projects" id="projects">
                <div class="container">
                    {
                        projects.map((project, idx) => (
                            <div class={`row${idx % 2 === 1 ? " even" : ""}`}>
                                <div class="project-item">
                                    <div class="project-img">
                                        <a>
                                            <img
                                                src={project.img}
                                                alt={project.name}
                                                loading="lazy"
                                            />
                                        </a>
                                    </div>
                                    <div class="project-details">
                                        <p id="project-name">
                                            &#x2192; {project.name}
                                        </p>
                                        <p id="project-category">
                                            {project.category}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </section>
        </div>
    </div>
</Layout>

<style>
    .smooth-wrapper {
        min-height: 100vh;
        width: 100%;
    }

    .smooth-content {
        will-change: transform;
    }
    :global(html, body) {
        scroll-behavior: auto;
    }
    .projects {
        width: 100%;
        min-height: 100vh;
        padding: 10em 0;
        /* Importante para que el loop no muestre bordes vacíos al wrap */
        overflow: hidden;
    }
    .container {
        width: 75%;
        margin: 0 auto;
        will-change: transform;
    }

    .row {
        width: 100%;
        height: 800px;
        padding: 1.5em 0;
        display: flex;
        justify-content: flex-start;
    }

    .row.even {
        justify-content: flex-end;
    }

    .project-item {
        position: relative;
        width: var(--project-width);
        height: 100%;
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: 0 2px 16px rgba(80, 80, 80, 0.03);
        transition-duration: 300ms;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .project-item:hover {
        transition-duration: 150ms;
        box-shadow: 0 4px 24px rgba(80, 80, 80, 0.07);
    }

    .project-img {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .project-img img {
        object-fit: cover;
        display: block;
        border-radius: 0.5em;
        user-select: none;
        -webkit-user-drag: none;
    }

    .project-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0.75em 0.5em;
        background: transparent;
    }

    .project-details p#project-name {
        font-weight: 600;
        color: #fff;
        margin: 0;
    }

    .project-details p#project-category {
        color: #fff;
        margin: 0;
    }

    .project-details p {
        font-size: 16px;
    }

    @media (max-width: 900px) {
        .projects {
            padding: 4em 0;
        }

        .project-item {
            width: 100%;
        }

        .row {
            margin: 2em 0;
            height: 400px;
            padding: 1em 0;
        }
    }
</style>
