---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Projects</h1>
  <p>This is the projects page. Content will be added soon.</p>
</Layout>

<style>
  h1, p {
    text-align: center;
    margin-top: 5rem;
  }
</style>
