@import url("https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply mb-4 w-full py-1 text-left font-secondary text-5xl decoration-perano-300 hover:animate-slide-left hover:text-pampas-100 xs:text-6xl md:px-8 md:pb-5 2xl:text-8xl 3xl:text-9xl;
  }
  .circle-link {
    @apply rounded-3xl transition-colors duration-500 ease-in-out hover:bg-perano-400 hover:text-pampas-100;
  }
  .container-col {
    @apply flex w-80 grow flex-col items-center justify-center sm:pt-5 sm:pl-6 xl:pl-12;
  }
  .text-underline {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-1 after:w-0 after:animate-fill-line after:bg-perano-300;
  }
  .main-section {
    @apply flex min-h-full w-full flex-grow flex-col items-center justify-start font-primary md:pt-20;
  }
}

.dark {
  @apply bg-codgray-950;
}

.light {
  @apply bg-pampas-200;
}

/* body {
  cursor:
    url("/assets/cursor.png") 8 8,
    auto;
}

button,
a,
.nav-link {
  cursor:
    url("/assets/click.png") 8 8,
    auto;
} */

progress::-webkit-progress-bar {
  background-color: #ece7e1;
  border-radius: 20px;
  height: 8px;
}
progress::-webkit-progress-value {
  background-color: #544d4e;
  border-radius: 20px;
}
